<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxm.poetry.mapper.PoetryAuthorMapper">

    <resultMap id="authorMapper" type="com.qxm.poetry.model.entity.PoetryAuthor">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="birthYear" column="birth_year"/>
        <result property="deathYear" column="death_year"/>
        <result property="desc" column="desc"/>
        <result property="dynasty" column="dynasty"/>
        <result property="baiduWiki" column="baidu_wiki"/>
        <result property="status" column="status"/>
        <result property="sort" column="sort"/>
        <result property="worksCount" column="works_count"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <select id="selectPoetryAuthor" resultType="com.qxm.poetry.model.vo.PoetryAuthorVO">
        select
            pa.id,
            pa.name,
            pa.birth_year,
            pa.death_year,
            pa.`desc`,
            pa.dynasty,
            pa.baidu_wiki,
            pa.status,
            pa.sort,
            pa.works_count
        from
            poetry_author as pa
        where
            pa.id = #{authorId}
    </select>
</mapper>
